/* header section */
.navbar-brand img{
    max-width: 30%;
    display: inline-block;
}
.carousel{
    position: relative;
}
.carousel-caption{
    position: absolute;
    top: 50%;
}
.p-div{
    text-align: center;
}